In [1]:
import pandas as pd
!ls

 001-Thresholding.ipynb		       005-SegmentationMap.ipynb
 002-BasicNN.ipynb		       006-Algorithm_Database.ipynb
'003-Linear Regressor.ipynb'	       007-Test_Battery.ipynb
 004-ImageStandardizationAndDb.ipynb

In [8]:
#DB Structure:
# name|||||test acc|||||train acc|||||f1m train|||||f1m test|||||dataset #////k-folds ff scikit

df = pd.DataFrame(columns=['ref','type' ,'train_acc', 'test_acc', 'f1m_train', 'f1m_test', 'kfolds', 'dataset', 'parameters','aug', 'train_time', 'imsize'])
test = {'train_acc':[0], 'test_acc':[0], 'f1m_train':[0], 'f1m_test':[0], 'kfolds':[0], 'dataset':[0],'parameters':[[0,1,2,2,3]] }

In [6]:
test = pd.DataFrame.from_dict(test)

In [7]:
test

   dataset  f1m_test  f1m_train  kfolds       parameters  test_acc  train_acc
0        0         0          0       0  [0, 1, 2, 2, 3]         0          0

In [9]:
df

Empty DataFrame
Columns: [ref, type, train_acc, test_acc, f1m_train, f1m_test, kfolds, dataset, parameters, aug, train_time, imsize]
Index: []

In [48]:
df.append(test)

/home/santiagovargas/anaconda3/envs/py35/lib/python3.5/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,dataset,f1m_test,f1m_train,kfolds,parameters,ref,test_acc,train_acc,type
0,0,0,0,0,"[0, 1, 2, 2, 3]",NaN,0,0,NaN

In [12]:
!pwd
df.to_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/Algorithm_DB/***statistics_DONTDELETE.pkl")

/home/santiagovargas/dev/CancerImaging/CancerImaging/Data_Notebooks

In [2]:
df = pd.read_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/Algorithm_DB/***statistics_DONTDELETE.pkl")
#df = pd.read_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/***statistics_DONTDELETE.pkl")

In [3]:
df

,aug,dataset,f1m_test,f1m_train,imsize,kfolds,parameters,ref,test_acc,train_acc,train_time,type
0,False,3,1.000000,1.000000,256,0,"[1, 10, adam, binary_crossentropy, [10, 1]]",nn_2019-7-26-12-7-11.pkl,0.532345,0.543339,10.032219,nn
0,False,3,0.527504,0.529658,256,0,"[1, 10, adam, binary_crossentropy, [10, 1]]",nn_2019-7-26-12-8-8.pkl,0.955526,0.966610,7.935634,nn
0,False,3,0.626682,0.629043,128,0,"[25, 10, adam, binary_crossentropy, [10, 1]]",nn_2019-7-26-12-39-35.pkl,0.867868,0.864091,446.078542,nn
0,False,3,0.668780,0.633854,256,0,"[25, 10, adam, binary_crossentropy, [33, 0.9]]",nn_2019-7-26-12-56-56.pkl,0.850404,0.842833,196.473168,nn
0,False,3,0.644444,0.628190,256,0,"[50, 10, adam, binary_crossentropy, [102, 0.8]]",nn_2019-7-26-13-57-8.pkl,0.849057,0.859022,252.201746,nn
0,False,3,0.617825,0.608845,256,0,"[50, 10, adam, binary_crossentropy, [42, 0.9]]",nn_2019-7-26-13-59-45.pkl,0.892183,0.884654,154.173418,nn
0,False,3,0.535040,0.542664,NaN,0,"[adam, binary_crossentropy, 15, 10]",cnn_2019-7-26-14-47-15.pkl,1.000000,1.000000,383.210236,cnn
0,False,3,0.537736,0.541990,NaN,0,"[adam, binary_crossentropy, 15, 10]",cnn_2019-7-26-14-53-53.pkl,1.000000,1.000000,379.346120,cnn

In [3]:
import os 
os.getcwd()

'/home/santiagovargas/dev/CancerImaging/CancerImaging/Data_Notebooks'