In [2]:
import pandas as pd
!ls

 001-Thresholding.ipynb		       005-SegmentationMap.ipynb
 002-BasicNN.ipynb		       006-Algorithm_Database.ipynb
'003-Linear Regressor.ipynb'	       007-Test_Battery.ipynb
 004-ImageStandardizationAndDb.ipynb   008-Data_Display.ipynb

In [8]:
#DB Structure:
# name|||||test acc|||||train acc|||||f1m train|||||f1m test|||||dataset #////k-folds ff scikit

df = pd.DataFrame(columns=['ref','type' ,'train_acc', 'test_acc', 'f1m_train', 'f1m_test', 'kfolds', 'dataset', 'parameters','aug', 'train_time', 'imsize'])
test = {'train_acc':[0], 'test_acc':[0], 'f1m_train':[0], 'f1m_test':[0], 'kfolds':[0], 'dataset':[0],'parameters':[[0,1,2,2,3]] }

In [6]:
test = pd.DataFrame.from_dict(test)

In [7]:
test

   dataset  f1m_test  f1m_train  kfolds       parameters  test_acc  train_acc
0        0         0          0       0  [0, 1, 2, 2, 3]         0          0

In [9]:
df

Empty DataFrame
Columns: [ref, type, train_acc, test_acc, f1m_train, f1m_test, kfolds, dataset, parameters, aug, train_time, imsize]
Index: []

In [48]:
df.append(test)

/home/santiagovargas/anaconda3/envs/py35/lib/python3.5/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,dataset,f1m_test,f1m_train,kfolds,parameters,ref,test_acc,train_acc,type
0,0,0,0,0,"[0, 1, 2, 2, 3]",NaN,0,0,NaN

In [12]:
!pwd
df.to_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/Algorithm_DB/***statistics_DONTDELETE.pkl")

/home/santiagovargas/dev/CancerImaging/CancerImaging/Data_Notebooks

In [5]:
df = pd.read_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/Algorithm_DB/***statistics_DONTDELETE.pkl")
df = pd.read_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/***statistics_DONTDELETE.pkl")

In [11]:
df[df.type.str.contains("svm")]

,aug,dataset,f1m_test,f1m_train,imsize,kfolds,parameters,ref,test_acc,train_acc,train_time,type
0,False,3,0.634623,0.640022,NaN,0.0,"[rbf, 0.37809732148714703, 4, 0, 0, 0.00092213...",Algorithm_DB/svm_2019-7-26-1-54-3.pkl,0.888555,0.901802,NaN,svm
0,False,3,0.585586,0.597285,NaN,0.0,"[poly, 0.32216164475231107, 5, 0, 0, 5.8106056...",Algorithm_DB/svm_2019-7-26-8-37-47.pkl,0.897574,0.894435,NaN,svm
0,False,3,0.527174,0.541200,NaN,0.0,"[poly, 8.990950061294386, 5, 0, 0, 5.015675515...",Algorithm_DB/svm_2019-7-26-9-9-22.pkl,0.991914,0.994604,NaN,svm
0,False,3,0.570093,0.579690,NaN,0.0,"[linear, 1.6236490578371563, 6, 0, 0, 0.000360...",Algorithm_DB/svm_2019-7-27-16-47-3.pkl,0.999666,0.999833,NaN,svm
0,False,3,0.572764,0.578925,NaN,0.0,"[linear, 224.25771195397257, 4, 0, 0, 9.654919...",Algorithm_DB/svm_2019-7-27-16-56-25.pkl,0.999666,1.000000,NaN,svm
0,False,3,0.561603,0.581545,NaN,0.0,"[linear, 0.06955528727742852, 8, 0, 0, 1.63505...",Algorithm_DB/svm_2019-7-27-17-12-46.pkl,0.999333,0.999082,NaN,svm
0,False,3,0.588353,0.573307,NaN,0.0,"[poly, 42.961565000525155, 3, 0, 0, 8.45227292...",Algorithm_DB/svm_2019-7-27-17-21-6.pkl,0.996997,0.996412,NaN,svm
0,False,3,0.561345,0.576751,NaN,0.0,"[rbf, 4.1323293453117085, 9, 0, 0, 0.000137452...",Algorithm_DB/svm_2019-7-27-18-15-24.pkl,0.992659,0.989738,NaN,svm
0,False,3,0.570406,0.568631,NaN,0.0,"[poly, 3.370588865150349, 3, 0, 0, 4.978181881...",Algorithm_DB/svm_2019-7-29-13-3-35.pkl,0.978645,0.979810,NaN,svm
0,False,3,0.723423,0.723582,NaN,0.0,"[rbf, 0.0005223361225890096, 7, 0, 0, 0.000112...",Algorithm_DB/svm_2019-7-30-4-0-44.pkl,0.756423,0.750042,NaN,svm
0,False,3,0.564111,0.579933,NaN,0.0,"[rbf, 53.338032867230886, 8, 0, 0, 4.427060272...",Algorithm_DB/svm_2019-7-30-5-1-5.pkl,0.996663,0.997831,NaN,svm

In [3]:
import os 
os.getcwd()

'/home/santiagovargas/dev/CancerImaging/CancerImaging/Data_Notebooks'