In [5]:
import pandas as pd
!ls

 001-Thresholding.ipynb        003-ImageStandardizationAndDb.ipynb
 002-BasicNN.ipynb	       004-SegmentationMap.ipynb
'002-Linear Regressor.ipynb'   005-Algorithm_Database.ipynb

In [2]:
#DB Structure:
# name|||||test acc|||||train acc|||||f1m train|||||f1m test|||||dataset #////k-folds ff scikit

df = pd.DataFrame(columns=['ref','type' ,'train_acc', 'test_acc', 'f1m_train', 'f1m_test', 'kfolds', 'dataset', 'parameters','aug', 'train_time', 'imsize'])
test = {'train_acc':[0], 'test_acc':[0], 'f1m_train':[0], 'f1m_test':[0], 'kfolds':[0], 'dataset':[0],'parameters':[[0,1,2,2,3]] }

In [6]:
test = pd.DataFrame.from_dict(test)

In [7]:
test

   dataset  f1m_test  f1m_train  kfolds       parameters  test_acc  train_acc
0        0         0          0       0  [0, 1, 2, 2, 3]         0          0

In [3]:
df

Empty DataFrame
Columns: [ref, type, train_acc, test_acc, f1m_train, f1m_test, kfolds, dataset, parameters, aug, train_time, imsize]
Index: []

In [48]:
df.append(test)

/home/santiagovargas/anaconda3/envs/py35/lib/python3.5/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,dataset,f1m_test,f1m_train,kfolds,parameters,ref,test_acc,train_acc,type
0,0,0,0,0,"[0, 1, 2, 2, 3]",NaN,0,0,NaN

In [4]:
df.to_pickle("./Algorithm_DB/***statistics_DONTDELETE.pkl")

In [6]:
df = pd.read_pickle("/home/santiagovargas/dev/CancerImaging/CancerImaging/Algorithm_DB/***statistics_DONTDELETE.pkl")

In [7]:
df

,aug,dataset,f1m_test,f1m_train,imsize,kfolds,parameters,ref,test_acc,train_acc,train_time,type
0,False,3,0.581252,0.596322,128,0.837734,"[squared_loss, 5.566051886100224e-06, 12673.31...",Algorithm_DB/sgd_2019-7-25-1-7-9.pkl,0.975309,0.980060,NaN,sgd
0,False,3,0.588473,0.598820,128,0.846944,"[preceptron, 1.0112779094977502e-06, 3252.9420...",Algorithm_DB/sgd_2019-7-25-1-8-42.pkl,0.989990,0.989905,NaN,sgd
0,False,3,0.584372,0.593834,128,0.829188,"[preceptron, 6.177312650562418e-08, 5351.68147...",Algorithm_DB/sgd_2019-7-25-1-10-4.pkl,0.990657,0.993159,NaN,sgd
0,False,3,0.634750,0.659135,128,0.835932,"[log, 3.0495989811484327e-07, 6222.94793280866...",Algorithm_DB/sgd_2019-7-25-10-56-39.pkl,0.902569,0.908310,NaN,sgd

In [3]:
import os 
os.getcwd()

'/home/santiagovargas/dev/CancerImaging/CancerImaging/Data_Notebooks'